/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Noto Sans", sans-serif;
    --secondary-font: "Roboto Condensed", cursive;
    --primary-color: #000000;
    --secondary-color: #ffffff;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-color);
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-transform: capitalize;
    text-align: center;
    height: 400px;
    width: 100%;
    background:url("../assets/images/central-library.jpg") no-repeat center center/cover;
    position: relative;
}

h2 {
    font-family: var(--secondary-font);
    text-transform: capitalize;
}

p {
    font-family: var(--secondary-font);
    text-align: center;
    margin: 20px auto;
    width: 100%;
    line-height: 1.6;
    font-size: 1.2rem;
    color: var(--primary-color)
}

.quiz-container {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 25px;
    color: blue;
}

.card {
    font-family: var(--secondary-font);
    background: #ffffff;
    color: #7e0000;
    padding: 20px;
    border-radius: 15px;
    font-weight: 400;
    transition: 0.5s;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: black;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
}

.card:hover{
    background: #f0f0f0;
    transform: translateY(-3px);
}
.card.correct {
    background:lightseagreen;
    color: #000000;
}

.card.wrong {
    background: #7e0000;
    color: white;
}

.quiz-start {
    text-align: center;
    margin-top: 40px;
}

.quiz-end {
    text-align: center;
    margin-top: 40px;
}

.quiz-screen {
    text-align: center;
    margin-top: 30px;
}

.hidden {
    display: none;
}